html,
body,
div#__next {
  height: 100%;
}

@keyframes opacity-transform-center {
  from {
    opacity: 0;
  }
}
@keyframes opacity-transform-side {
  from {
    opacity: 0;
  }
}

@keyframes shopping-cart-shake {
  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
